

* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.container {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

/* FORM */
.product-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background: #f9f9f9;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
}

.form-group input {
  height: 42px;
  padding: 0 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.submit-btn {
  grid-column: span 4;
  height: 45px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid black;
}

/* CARD GRID */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* CARD */
.product-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card h3 {
  margin: 12px 0 5px;
}

.real-price {
  text-decoration: line-through;
  color: #888;
}

.final-price {
  font-size: 18px;
  font-weight: 700;
}

/* BUTTONS */
.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.card-actions button {
  flex: 1;  
  margin: 0 5px;
  height: 38px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
